@font-face {
    font-family: NeatoSerif-Regularimport;
    src:url('/assets/css/fonts/neato_serif_fonts//NeatoSerif-Regular.otf');
}

.custom-font {
  font-family: 'NeatoSerif-Regularimport', serif;
}

.sideImg {
    height: 200px;
    border-radius: 50%;
}

.logo {
    height: 25%;
    width: auto;
}

.body-font {
    font-family: 'Montserrat', sans-serif;
}
